@{
    ViewBag.Title = "Struktura drzewiasta";
}

<ul id="tree">
    <li>
        <span class="node"> IDEO TREE</span>
        <ul class="nested">
            @Html.Raw(ViewBag.htmlstring)
        </ul>
    </li>
</ul>

<script>
    var toggler = document.getElementsByClassName("node");
    var i;
    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("node-down");
        });
    }
</script>

